<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fahkwang&family=Martel+Sans&family=ZCOOL+XiaoWei&display=swap"
    rel="stylesheet">
  <title>Issac Asimov Tweet Generator</title>
</head>

<body>
  <section class="text">
    <h1>Issac Asimov Tweet Generator</h1>
    <p>{{markov}}</p>
    <section class="btn-container">
      <button onclick="window.location.reload()">Generate another tweet</button>
    </section>
  </section>
</body>

</html>